*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.redes{
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 10vh;
}

a{
  color: greenyellow;
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  padding: 6px;
  font-size: 20px;
}
a:hover{
  background-color: white;
  color: red;
}